workflow-chatbot-telegram.json.json
{
  "name": "Chatbot Clima",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1408,
        32
      ],
      "id": "a0457084-973e-4699-851f-fcf4431fdbf7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "W7b4bVlxtZAurf9u",
          "name": "Gemini - Gabi"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        0
      ],
      "id": "f05e0b3a-ac6b-4498-a432-4b3c575cc8a0",
      "name": "Recebe dados",
      "webhookId": "443bcbe5-3a4f-4d32-8989-f0c728fa728a",
      "credentials": {
        "telegramApi": {
          "id": "lPWSKc8TUC2zgLE3",
          "name": "Telegram bot clima"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4de35e6e-cf18-4186-9f4f-9ea3f0ed7617",
              "name": "queue",
              "value": "={{ $json.message.text.trim().toLowerCase().normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").replace(/\\s*,\\s*/g, \",\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        0
      ],
      "id": "c9c80ebc-c068-42a5-b21c-6777d59ce310",
      "name": "Normaliza e limpa texto"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openWeatherMapApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.queue }}"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "lang",
              "value": "pt_br"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        496,
        0
      ],
      "id": "67030d56-7715-492c-ab55-9f4633e0c3f2",
      "name": "Consulta API OpenWeather",
      "credentials": {
        "openWeatherMapApi": {
          "id": "edVsGgXlmfMIlsJK",
          "name": "OpenWeatherMap account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2a37e4b8-2c78-46e7-b18e-a66dacf74e5c",
              "leftValue": "={{ $json.cod }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "faabf8e8-ee8c-4ffe-bd39-8efd92d56f82",
              "leftValue": "={{ $json.main.temp }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        864,
        0
      ],
      "id": "80ba51aa-688a-417a-8c3c-97d862fa7a74",
      "name": "Verifica Sucesso"
    },
    {
      "parameters": {
        "chatId": "={{ $('Recebe dados').item.json.message.chat.id }}",
        "text": "❌ Cidade não encontrada. Use o formato Cidade,UF,BR (ex.: São Paulo,SP,BR).",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        304
      ],
      "id": "5f7d9bf7-264f-4738-98eb-2d9998348e02",
      "name": "Envia Erro - Cidade não encontrada",
      "webhookId": "a38e8d60-4380-4acd-98c8-4be61c23d187",
      "credentials": {
        "telegramApi": {
          "id": "lPWSKc8TUC2zgLE3",
          "name": "Telegram bot clima"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst cidade = data.name;\nconst temperatura = Math.round(data.main.temp);\n\nconst mensagem_fallback = `🌤️ A temperatura em ${cidade} é de ${temperatura}°C.`;\n\nreturn {\n  mensagem_fallback: mensagem_fallback,\n  cidade: cidade,\n  temperatura: temperatura\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        -160
      ],
      "id": "fd02193f-7f9c-48c3-8eb3-447bb1cba511",
      "name": "Gera a mensagem  Fallback"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente meteorológico amigável. A cidade é {{ $json.cidade }} e a temperatura atual é {{ $json.temperatura }}°C. Reescreva essa informação de forma natural, clara e simpática em português brasileiro. Retorne APENAS um JSON válido no seguinte formato, sem formatação markdown: {\"message\": \"sua mensagem aqui\", \"ok\": true}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1408,
        -160
      ],
      "id": "bd51a595-daa2-483f-bbc0-cce68049843f",
      "name": "LLM Humaniza a mensagem",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fcf8b1bf-5357-401c-9b9e-685fbaa3cba3",
              "leftValue": "={{ $json.text }}",
              "rightValue": "={{ $json.text }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1808,
        -160
      ],
      "id": "cabf223f-bddc-40ef-9f70-c9fad22c3ca6",
      "name": "Gemini Respondeu com sucesso?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Recebe dados').item.json.message.chat.id }}",
        "text": "={{ JSON.parse($json.text).message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2336,
        -176
      ],
      "id": "c2b41713-c9b5-43f5-b858-d05205c7a3a8",
      "name": "Envia Clima Formatado pela IA",
      "webhookId": "a38e8d60-4380-4acd-98c8-4be61c23d187",
      "credentials": {
        "telegramApi": {
          "id": "lPWSKc8TUC2zgLE3",
          "name": "Telegram bot clima"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4487a89d-6c7e-4e21-842e-41da0bdcb102",
              "name": "text",
              "value": "={{ $('Gera a mensagem  Fallback').item.json.mensagem_fallback }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2128,
        48
      ],
      "id": "82b317f2-8707-4b7a-a4cb-d5021f7fac1a",
      "name": "Aplica mensagem Fallback"
    },
    {
      "parameters": {
        "content": "📥 **A Porta de Entrada\nRecebe Nome da Cidade (Telegram Trigger)**\n\nEscuta o Telegram 24h por dia. Quando o usuário envia uma mensagem de texto, este nó captura a informação e inicia a automação.",
        "height": 176,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -192
      ],
      "typeVersion": 1,
      "id": "a205c777-a4e0-4369-8f28-47c9bd36f137",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "**Tratamento de Dados\nNormaliza e Limpa Texto (Edit Fields)**\n\nA faxina dos dados! Remove espaços em branco sobrando, tira todos os acentos e converte tudo para letras minúsculas para evitar que a API do clima se confunda.",
        "height": 240,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        160
      ],
      "typeVersion": 1,
      "id": "dd2d448d-d6d5-471e-a669-15c269624a25",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "🌐 **Integração com a API\nConsulta API OpenWeather (HTTP Request)**\n\nBate na porta da OpenWeather com a cidade digitada e pede as informações climáticas em graus Celsius e em português.",
        "height": 192,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        -208
      ],
      "typeVersion": 1,
      "id": "a18368ca-d1c8-4b11-981d-b3403d8f9593",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "❌ **O Caminho de Falha\nEnvia Erro (Telegram)**\n\n\"Avisa o usuário de forma amigável que a cidade não foi encontrada e ensina a digitar no formato correto (Cidade,UF,BR).",
        "height": 192,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1168,
        480
      ],
      "typeVersion": 1,
      "id": "7dfcaaee-1950-4118-8861-0c20a900447e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "🔀 **O Primeiro Roteador\nVerifica Sucesso (IF)**\n\nA cidade existe?\nCaminho True: A API encontrou a cidade (Status 200). Segue para o tratamento da IA.\nCaminho False: A cidade não foi encontrada (Erro 404). Segue para o aviso de erro.",
        "height": 240,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        160
      ],
      "typeVersion": 1,
      "id": "81d8834c-9527-46d7-8508-9c4180294604",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "🛡️ **O Sistema de Segurança (Fallback)\nGera Mensagem Estática (Code)**\n\nO Plano B! Extrai a temperatura bruta e monta uma frase padrão. Se a Inteligência Artificial falhar mais na frente, o bot usa essa mensagem para não deixar o usuário sem resposta.",
        "height": 240,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1072,
        -416
      ],
      "typeVersion": 1,
      "id": "ec0646a2-0601-4434-96d4-ffb92e17b968",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "🧠 **A Camada de Inteligência\nGemini: Humaniza Mensagem (LLM / Gemini)**\n\nA mágica da IA! Pega a temperatura bruta e reescreve a frase com um tom amigável, natural e empático, devolvendo o texto pronto no formato JSON.",
        "height": 192,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1392,
        -368
      ],
      "typeVersion": 1,
      "id": "8e0ee0b7-6b95-4d80-acc9-0db616534897",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "🔀**O Segundo Roteador\nGemini Respondeu com Sucesso? (IF1)**\n\nO guarda-costas do fluxo.\nCaminho True: O Gemini funcionou direitinho? Envia a mensagem humanizada.\nCaminho False: Deu erro de API ou timeout? Aciona o Plano B.",
        "height": 256,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        16
      ],
      "typeVersion": 1,
      "id": "3c33c6e4-d1c3-4ac6-807e-875774f724c9",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "✅ **O Caminho de Sucesso (Finais)\nEnvia Clima da IA (Telegram)**\n\nEntrega o resultado final e humanizado para o usuário no Telegram.\n\nAplica Mensagem de Fallback (Edit Fields1 / Telegram)\n\nO salva-vidas! Envia aquela mensagem padrão e segura que criamos no Plano B, garantindo que o fluxo nunca quebre",
        "height": 176,
        "width": 528,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1952,
        -368
      ],
      "typeVersion": 1,
      "id": "7d5c8072-09bc-469b-a9c8-2ae8996281b2",
      "name": "Sticky Note8"
    }
  ],
  "pinData": {
    "Recebe dados": [
      {
        "json": {
          "update_id": 851027698,
          "message": {
            "message_id": 10,
            "from": {
              "id": 8066739746,
              "is_bot": false,
              "first_name": "Gabi",
              "last_name": "Starosky",
              "language_code": "pt-br"
            },
            "chat": {
              "id": 8066739746,
              "first_name": "Gabi",
              "last_name": "Starosky",
              "type": "private"
            },
            "date": 1781451233,
            "text": "Blumenau"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Humaniza a mensagem",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Recebe dados": {
      "main": [
        [
          {
            "node": "Normaliza e limpa texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza e limpa texto": {
      "main": [
        [
          {
            "node": "Consulta API OpenWeather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta API OpenWeather": {
      "main": [
        [
          {
            "node": "Verifica Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Sucesso": {
      "main": [
        [
          {
            "node": "Gera a mensagem  Fallback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envia Erro - Cidade não encontrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gera a mensagem  Fallback": {
      "main": [
        [
          {
            "node": "LLM Humaniza a mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Humaniza a mensagem": {
      "main": [
        [
          {
            "node": "Gemini Respondeu com sucesso?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Respondeu com sucesso?": {
      "main": [
        [
          {
            "node": "Envia Clima Formatado pela IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aplica mensagem Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia Clima Formatado pela IA": {
      "main": [
        []
      ]
    },
    "Aplica mensagem Fallback": {
      "main": [
        [
          {
            "node": "Envia Clima Formatado pela IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2d0ec1af-9f23-45d7-bde9-a5ca96c7ff40",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e3ff24fa9584605bc06f81e89fd370b69db5fb25dda3fc0d6292b3999b287e2"
  },
  "id": "6sOQMGIWeQY6yIdb",
  "tags": []
}
